/* For Defaults and Globals */
@font-face {
  font-family: 'decodividers';
  src: url('decodividers.ttf');
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 1em;

  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  color: gold;
  background: url(../data/ornate-black.jpg) repeat-y;
  font-family: 'Bellefair';
}

.left, .center, .right { 
  width: 20%;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  margin: 0 auto; 
  padding: 0 1%;
}

.center {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  width: 40%;
  padding: 0 1%;
}

button {
  padding: 1%;
  margin: 2% auto;
  font-size: 0.75em;
  text-align: center;
  margin: 0 auto;
}

a {
  color: inherit; 
  text-decoration: inherit;
}

.header1 {
  color: gold;
  font-family: 'Rochester', cursive;
  font-size: 4em;
  text-shadow: 3px 3px dimgray;
  padding: 0;
  margin: 0;
  
}
.header2 {
  color: gold;
  font-family: 'Rochester', cursive;
  font-size: 2em;
  text-shadow: 1px 1px black;
  padding: 0;
  margin: 0 auto;
}

.header3 {
  color: goldenrod;
  font-family: 'Rochester', cursive;
  font-size: 1em;
  text-shadow: 1px 1px black;
  padding: 0;
  margin: 0 auto;
}

.hr1 {
  color: dimgray;
  font-family: 'decodividers';
  max-width: 90%;
  font-size: 3rem;
  margin: 1.5% auto;
  overflow: hidden;
}

.hr2 {
  font-family: 'decodividers';
  max-width: 90%;
  color: dimgray;
  font-size: 2rem;
  margin: 0 auto;
  overflow: hidden;
}

.hr3 {
  font-family: 'decodividers';
  max-width: 90%;
  color: dimgray;
  font-size: 2rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 5%;
  margin: 0 auto;
}

.white {
  color: white;
}

.gold {
  color: gold;
}

.underline {
  text-decoration: underline;
}