/* Defaults */
@font-face {
  font-family: 'decodividers';
  src: url('decodividers.ttf');
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 1em;

  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  color: gold;
  background: url(../data/ornate-black.jpg) repeat-y;
  font-family: 'Bellefair';
}

.left, .center, .right { 
  width: 20%;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  margin: 0 auto; 
  padding: 0 1%;
}

.center {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  width: 40%;
  padding: 0 1%;
}

button {
  padding: 1%;
  margin: 2% auto;
  font-size: 0.75em;
  text-align: center;
  margin: 0 auto;
}

a {
  color: inherit; 
  text-decoration: inherit;
}

.header1 {
  color: gold;
  font-family: 'Rochester', cursive;
  font-size: 4em;
  text-shadow: 3px 3px dimgray;
  padding: 0;
  margin: 0;
  
}
.header2 {
  color: gold;
  font-family: 'Rochester', cursive;
  font-size: 2em;
  text-shadow: 1px 1px black;
  padding: 0;
  margin: 0 auto;
}

.header3 {
  color: goldenrod;
  font-family: 'Rochester', cursive;
  font-size: 1em;
  text-shadow: 1px 1px black;
  padding: 0;
  margin: 0 auto;
}

.hr1 {
  color: dimgray;
  font-family: 'decodividers';
  max-width: 90%;
  font-size: 3rem;
  margin: 1.5% auto;
  overflow: hidden;
}

.hr2 {
  font-family: 'decodividers';
  max-width: 90%;
  color: dimgray;
  font-size: 2rem;
  margin: 0 auto;
  overflow: hidden;
}

.hr3 {
  font-family: 'decodividers';
  max-width: 90%;
  color: dimgray;
  font-size: 2rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 5%;
  margin: 0 auto;
}

.white {
  color: white;
}

.gold {
  color: gold;
}

.underline {
  text-decoration: underline;
}

.bellefair {
  font-family: 'Bellefair', cursive;
}

.rochester {
  font-family: 'Rochester', cursive;
}

/* Header */
header {
  margin-bottom: 3%;
}

header button, input {
  display: inline-block;
  margin: 0.25%;
  padding: 0;
  font-size: 0.75em;
  text-align: center;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  padding:0.25%;
  line-height: 1;
}

.topnav a {
  float: center;
  color: gold;
  text-align: center;
  padding: 0.25%;
  margin: 0.25%;
  text-decoration: none;
  font-size: 1em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.header3 img {
  width: 50px;
  filter: rgb(255,0,0);
}

/* Left */
.myProfile {
  padding-top: 5%;
}
.profileForm > * {
  display: block;
  margin: 1%;
  padding: 1%;
  text-align: center;
  margin: 0 auto;
}

.MyProfile img {
  display: inline-block;
  border-radius: 50%;
  width: 25%;
  border: 2px solid gold;
}

/* Center */
#RingLoader {
  width: fit-content;
  margin: 0 auto;
}

.Attendee {
  display: inline-block;
  vertical-align: top;
  font-size: 0.75em;
  color: white;
  width: 15%;
  margin-top: 2%;
}
.Attendee img {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  border: 2px solid gold;
  transition: all ease 0.3s;
}
.Attendee img:hover {
  transform: scale(1.1);
}
.rsvpYes {
  cursor: pointer;
  margin: 5%;
  border: 2px solid gold;
  border-radius: 50%;
  background: green;
  color: white;
  font-size: 20px;
  font-family: 'Bellefair', cursive;
  transition: all ease 0.3s;
}
.rsvpYes:hover {
  transform: scale(1.10);
  color: black;
  background: gold;
}
.rsvpYes:active,
.rsvpYes:focus,
.rsvpYes.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.rsvpNo {
  cursor: pointer;
  margin: 5%;
  border: 2px solid gold;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 20px;
  font-family: 'Bellefair', cursive;
  transition: all ease 0.3s;
}
.rsvpNo:hover {
  transform: scale(1.10);
  color: black;
  background: gold;
}
.rsvpNo:active,
.rsvpNo:focus,
.rsvpNo.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.comment-name {
  color: gold;
  font-family: 'Rochester', cursive;
  text-decoration: underline;
}

.comment-box {
  border: none;
  background: none;
  width: auto;
  color: white;
  border-bottom: 3px solid white;
  text-align: center;
  font-family: 'Bellefair', cursive;
  font-size: 1em;
}

.comment-box:focus {
  color: white;
  border: none;
  box-shadow: none;
  outline-style: none;
  border-bottom: 3px solid dimgray;
  font-family: 'Bellefair', cursive;
  font-size: 1em;
}

.comment-box::placeholder {
  color: white;
  font-family: 'Rochester', cursive;
  opacity: 0.50;
  font-size: 1.15em;
}

.commentDeleteButton {
  cursor: pointer;
}

/* Right */
.myEvents {
  padding-top: 5%;
}

.eventForm > *,
.profileForm > *, 
.renderEvents > * {
  display: inline-block;
  padding: 1%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1%;
}

.eventForm input,
.renderEvents input {
  font-size: 1em;
  font-family: 'Bellefair', cursive;
}

.eventForm textarea,
.renderEvents textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Bellefair', cursive;
  background: white;
}

.myEvents button {
  display: block;
  border: 2px solid gold;
  background: none;
  color: white;
  font-family: 'Bellefair', cursive;
  border-radius: 5%;
  margin: 5% auto;
  transition: all ease 0.3s;
}

.myEvents button:hover {
  transform: scale(1.10);
  cursor: pointer;
  color: black;
  background: gold;
}

.myEvents button:focus {
  outline: none;
}

.eventsLargeButton {
  font-size: 1em;
}

.eventsSmallButton {
  width: fit-content;
  font-size: 0.75em;
}

/* Footer */
footer {
  background-color: #333;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}