/* Defaults */
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
hr {
  max-width: 70%;
}

.MyPicture img {
  display: inline-block;
  border-radius: 50%;
  width: 5%;
}

.left, .center, .right { 
  border: 1px solid red;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word; 
}
.center {
  width: 50%;
}
.left, .right {
  width: 23%;
}

/* Events */
.App {
  text-align: center;
}

.App-header {
  display: inline-block;
  height: 150px;
  padding: 20px;
  color: black;
  font-size: 1em;
}

.events {
  display: inline-block;
  padding: 1%;
  margin: 0 auto;
}

/* AddProfile */
.ProfileForm > * {
  display: block;
  margin: 1%;
  padding: 1%;
}

.ProfileForm button {
  display: inline-block;
  margin: 0 auto;
}