/* Defaults */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
}

hr {
  max-width: 90%;
}

.left, .center, .right { 
  width: 20%;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  margin: 0 auto; 
  padding: 0 1%;
}

.center {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  width: 40%;
  padding: 0 1%;
}

button {
  padding: 1%;
  margin: 2% auto;
  font-size: 0.75em;
  text-align: center;
  margin: 0 auto;
}

/* Top */
header button, input {
  display: inline-block;
  margin: 0.5% 0.5%;
  padding: 0%;
  font-size: 0.75em;
  text-align: center;
}
.currentProfile {
  display: block;
  font-size: 0.75em;
}

.Attendee {
  display: inline-block;
  vertical-align: top;
  font-size: 0.75em;
}

.currentPicture img {
  display: inline-block;
  border-radius: 50%;
  width: 5%;
}

/* Left */
.profileForm > * {
  display: block;
  margin: 1%;
  padding: 1%;
  text-align: center;
  margin: 0 auto;
}

/* Center */
.Attendee {
  display: inline-block;
  width: 10%;
}

.Attendee img {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
}

/* Right */
.eventForm > *,
.profileForm > *, 
.renderEvents > * {
  display: block;
  padding: 1%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1%;
}
.calendar {
  /* background: black; */
  /* color: white; */
}

/* Events */
