/* Defaults */
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

hr {
  max-width: 70%;
}

.left, .center, .right { 
  border: 1px solid red;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word; 
}

.center {
  width: 50%;
}

.left, .right {
  width: 23%;
}

button {
  padding: 1%;
  margin: 2% auto;
  font-size: 1em;
}

/* Top */
header button {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.currentProfile {
  font-size: 0.75em;
}
.currentPicture img {
  display: inline-block;
  border-radius: 50%;
  width: 5%;
}

/* Left */
.ProfileForm > * {
  display: block;
  margin: 1%;
  padding: 1%;
}

/* Center */

/* Right */

/* Events */



/* AddProfile */
